##  @Date 2017-2-16

PCH_FILE=MangoTest/MangoTest-Prefix.pch
ADHOC_PROVISION=test.wmf

## 进行签名的密钥
DIST_SIGN="iPhone Developer: wang mengfa (A2566WTSVJ)"

## 应用程序的名称
TARGET_NAME="MangoTest"
bundleIdentifier="test.wmf"           ## 当前应用的Identifier

RELEASE_OR_DEBUG=Release  ## Push方式不一样，以及配置可能不一样
#RELEASE_OR_DEBUG=Debug   ## Debug
